.infowindow {
    background: white;
    border: 0;
    position: absolute;
    margin-left: -100px;
    margin-top: -10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    min-height: 100px;
    padding: 10px;
}

.infowindow .close{
    position: absolute;
    left: 190px;
    top: 0px;
    cursor: pointer;
    height: 32px;
    width: 32px;;
}

.infowindow ul {
    padding: 0;
    display: block;
    margin: 0;
    max-height: 200px;
    overflow: auto;
}

.infowindow li {
    padding: 5px 3px;
    display: block;
    background: #EEE;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}


.infobubblewindow {
    box-shadow: 30px 15px 7px -10px rgba(50,50,50,0.2);
    
}

.infobubblewindow ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.infobubblewindow li {
    display: block;
    padding: 3px;
    background: #f2f2f2;
    margin: 0 0 2px 0;
}

.phoney {
    position: relative;
    width: 190px;
    text-align: center;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*.infobubblewindow > div:last-child > div{
    border-color:blue !important;
}*/