<!--stylesheets start-->
<link rel="icon" href="image/mappus.16.png" type="image/x-icon">
<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="style/screen.css" />
<link rel="stylesheet" type="text/css" href="style/css.css" />
<link rel="stylesheet" type="text/css" href="style/layout.css" />
<link rel="stylesheet" type="text/css" href="style/sidebar.css" />
<link rel="stylesheet" type="text/css" href="style/modal.css" />
<link rel="stylesheet" type="text/css" href="style/list.css" />
<link rel="stylesheet" type="text/css" href="style/infowindow.css" />
<!--stylesheets end-->